/* Reset de estilos */
:root {
  --corprincipal: #ec8bec;
  --corsecundaria: coral;
  --verde: #04AA6D;
  --preto: #000;
  --branco: #fff;
  --grafite: #333;
  --prata: #ddd;
}

body{
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Adiciona uma cor de fundo preta à barra de navegação superior */
.topnav {
  background-color: var(--grafite);
  overflow: hidden;
  width: 100%;
}

/* Estiliza os links dentro da barra de navegação */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Altera a cor dos links ao passar o mouse sobre eles */
.topnav a:hover {
  background-color: var(--prata);
  color: var(--preto);
}

/* Adiciona uma classe ativa para destacar a página atual */
.topnav a.active {
  background-color: var(--corsecundaria);
  color: var(--branco);
}

/* Esconde o link que deve abrir e fechar a barra de navegação em telas pequenas */
.topnav .icon {
  display: none;
}

/* Quando a tela tem menos de 600 pixels de largura, oculta todos os links, exceto o primeiro ("Home"). Mostra o link que deve abrir e fechar a barra de navegação (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* A classe "responsive" é adicionada à barra de navegação com JavaScript quando o usuário clica no ícone. Essa classe faz com que a barra de navegação fique boa em telas pequenas (mostra os links verticalmente em vez de horizontalmente) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}/* Reset de estilos */

/* Reset de estilos */
* {
    margin:1rem;
    padding: 0;
    box-sizing: border-box;
  }
  

  html {
    background-color: #ec8bec;
  }

  /* Estilos do Header e do menu de navegação */
  .menuPrincipal {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  /* Estilos para o conteúdo principal */
  main {
 
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .sectionInicio {
    display: flex;
    justify-content: space-between;
  }

  .logoInsumo {
    display: none; 
    max-width: 500px;
    max-height: 500px;
    margin-top: 15px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .logoInsumoForm {
    text-align: center;
  }
  
  .logoClinteBotao[type="file"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  

  .menuInsumos {
    display: flex;
    justify-content: space-between;
    background-color: #bbbaba;
  }

  .listaInsumos {
    background-color: #bbbaba;
  }

  .insumo-form {
    background-color: #bbbaba;
  }

  .ListaUl{
    list-style: none;
  }

.listaInsumosGerais {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.listaIn {
    background-color: #555;
    width: 40rem;
    text-align: center;
    color: #fff;
    margin: 1px;
}